h1 { 
  color:pink;
  font-family:cursive;
  font-size: 45px;
  text-decoration: underline;
  background-color: black;
}

body {
  color:blue;
  font-family: cursive;
  background-color: blue;
}
    
